SECRET_KEY=your-secret-key-here
DEBUG=
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
CELERY_BROKER_URL=redis://YOUR_USERNAME:YOUR_PASSWORD@YOUR_ENDPOINT:PORT/0
CELERY_RESULT_BACKEND=redis://YOUR_USERNAME:YOUR_PASSWORD@YOUR_ENDPOINT:PORT/0